// Black
$dBlack: #27262D;
$nBlack: #2d2a36;
$black90: rgba(39, 38, 45, 0.9);
$black32: rgba(39, 38, 45, 0.32);
$blackLight: #3c3751;
$blackMedium: #474555;
// White
$dWhite: #FFFFFF;
$nWhite: rgba(255, 255, 255, 0.9);
$white72: rgba(255, 255, 255, 0.72);
$white56: rgba(255, 255, 255, 0.56);
$white20: rgba(255, 255, 255, 0.20);
$white10: rgba(255, 255, 255, 0.10);
$white05: rgba(255, 255, 255, 0.05);
$whiteLight: #333042;
// Gray
$dGray: #556980;
$dGrayNight: #42404b;
$grayMedium: #9EAFC3;
$grayLight: #E6EFF9;
$grayLightest: #F5FAFF;
// Orange
$dOrange: #E74C3C;
$nOrange: #FA7E71;
// Emerald
$dEmerald: #21B1AC;
$nEmerald: #32D2CD;
// Green
$dGreen: #27AE60;
$nGreen: #3DD77E;
// Violet
$dViolet: #755EC6;
$nViolet: #967FE8;
$violet15: rgba(117, 94, 198, 0.15);
// Socials
$dVk: #4A76A9;
$dFacebook: #4368B1;
$dTwitter: #4CA0EB;
$nVk: #729ED1;
$nFacebook: #6D92DD;
$nTwitter: #4CA0EB;
