@mixin h1 {
  font: {
    size: 80px;
    weight: 900;
  }
  line-height: 88px;
  letter-spacing: -0.01em;
}
@mixin h2 {
  font: {
    size: 60px;
    weight: 800;
  }
  line-height: 68px;
  letter-spacing: -.5%;
}
@mixin h3 {
  font: {
    size: 40px;
    weight: 800;
  }
  line-height: 48px;
}
@mixin h4 {
  font: {
    size: 32px;
    weight: 800;
  }
  line-height: 40px;
  letter-spacing: 0.0025em;
}
@mixin h5($weight: 700) {
  font: {
    size: 24px;
    weight: $weight;
  }
  line-height: 32px;
  letter-spacing: 0.0015em;
}
@mixin h6 {
  font: {
    size: 20px;
    weight: 700;
  }
  line-height: 28px;
  letter-spacing: 0.0015em;
}
@mixin subTitle1 {
  font: {
    size: 16px;
    weight: 700;
  }
  line-height: 24px;
  letter-spacing: 0.0015em;
}
@mixin subtitle2($weight: 400) {
  font: {
    size: 14px;
    weight: $weight;
  }
  line-height: 22px;
  letter-spacing: 0.0015em;
}
@mixin body1($weight: 400) {
  font: {
    size: 16px;
    weight: $weight;
  }
  line-height: 24px;
  letter-spacing: 0.001em;
}
@mixin body2($weight: 400) {
  font: {
    size: 14px;
    weight: $weight;
  }
  line-height: 22px;
  letter-spacing: 0.0015em;
}
@mixin caption1($weight: 400, $transform: none) {
  font: {
    size: 12px;
    weight: $weight;
  }
  line-height: 20px;
  text-transform: $transform;
  letter-spacing: 0.01em;
}
@mixin caption2($weight: 400) {
  font: {
    size: 12px;
    weight: $weight;
  }
  line-height: 20px;
  letter-spacing: 0.01em;
}
@mixin button1($weight: 400) {
  font: {
    size: 14px;
    weight: $weight;
  }
  line-height: 22px;
  letter-spacing: 0.06em;
}
@mixin button2($weight: 400) {
  font: {
    size: 12px;
    weight: $weight;
  }
  line-height: 20px;
  letter-spacing: 4%;
}
