footer.main{
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 64px;
  margin: 0;
  padding: 0 48px;
  border-radius: 0px 0px 0px 34px;
  background: $dWhite;
  @media screen and (max-width: 1024px) {
    display: none;
  }
  &:before{
    position: absolute;
    top: 0;
    left: 48px;
    right: 48px;
    display: block;
    height: 1px;
    background: $grayMedium;
    content: "";
  }
  .copywrite{
    font-size: 14px;
    line-height: 20px;
    color: $dGray;
    letter-spacing: 0.0015em;
  }
  ul{
    display: flex;
    align-items: center;
    li{
      padding: 0 0 0 48px;
      &:first-child{
        padding: 0;
      }
      a,
      button{
        display: block;
        font-size: 14px;
        font-weight: 500;
        line-height: 20px;
        color: $dGray;
        text-decoration: none;
        text-transform: none;
        letter-spacing: 0.0015em;
      }
    }
  }
}
.night{
  footer.main{
    background: $nBlack;
    &:before{
      background: $white20;
    }
    .copywrite{
      color: $white56;
    }
    a,
    button{
      color: $white72;
    }
  }
}
