.gamecard{
  position: relative;
  padding: 0 12px 32px;
  &.swiper-slide{
    position: relative;
    padding: 0;
    z-index: 2;
    &:hover{
      z-index: 1;
    }
  }
  .box{
    position: relative;
    top: 0;
    height: 100%;
    background: $dWhite;
    box-shadow: 0 0 0 0 transparent;
    transition: top 0.15s ease;
    overflow: hidden;
    .img{
      position: relative;
      overflow: hidden;
      &:after{
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.6);
        visibility: hidden;
        opacity: 0;
        transition: all 0.15s ease;
        content: "";
        @media screen and (max-width: 1024px) {
          display: none;
        }
      }
      a,
      button{
        position: absolute;
        top: 50%;
        left: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 104px;
        height: 48px;
        margin: -74px 0 0 -52px;
        border-radius: 12px;
        background: $white20;
        backdrop-filter: blur(5px);
        text-decoration: none;
        visibility: hidden;
        opacity: 0;
        transition: all 0.15s ease;
        z-index: 1;
        @media screen and (max-width: 1024px) {
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          margin: 0!important;
          visibility: visible;
          opacity: 0!important;
        }
        svg{
          display: block;
          width: 13px;
          height: 16px;
          fill: $dWhite;
        }
        span{
          display: block;
          padding: 0 0 0 16px;
          font-size: 14px;
          font-weight: 800;
          line-height: 16px;
          letter-spacing: 0.06em;
          color: $dWhite;
          text-transform: uppercase;
        }
      }
      // Lazy loader
      img{
        position: relative;
        transition: all .15s ease;
        &[lazy=loading] {
          opacity: 0;
          visibility: hidden;
        }
        &[lazy=loaded] {
          opacity: 1;
          visibility: visible;
        }
        &.lazyloader{
          position: absolute;
          top: 50%;
          left: 50%;
          display: block;
          width: 100px;
          height: 100px;
          margin: -50px 0 0 -50px;
          @media screen and (max-width: 920px) {
            width: 90px;
            height: 90px;
            margin: -45px 0 0 -45px;
          }
          @media screen and (max-width: 768px) {
            width: 80px;
            height: 80px;
            margin: -40px 0 0 -40px;
          }
          @media screen and (max-width: 576px) {
            width: 70px;
            height: 70px;
            margin: -35px 0 0 -35px;
          }
          @media screen and (max-width: 480px) {
            width: 60px;
            height: 60px;
            margin: -30px 0 0 -30px;
          }
        }
      }
    }
    .info{
      .desc{
        color: $dGray;
      }
    }
  }
  &:hover{
    .box{
      .img{
        &:after{
          visibility: visible;
          opacity: 1;
        }
        a,
        button{
          margin-top: -24px;
          visibility: visible;
          opacity: 1;
        }
      }
    }
  }
  // Big size
  &.b{
    max-width: 414px;
    min-width: 414px;
    @media screen and (max-width: 1300px) {
      max-width: calc((100Vw / 100) * 33.85);
      min-width: calc((100Vw / 100) * 33.85);
    }
    @media screen and (max-width: 1024px) {
      max-width: 260px;
      min-width: 260px;
    }
    @media screen and (max-width: 576px) {
      max-width: 172px;
      min-width: 172px;
    }
  }
  &.b,
  &.f{
    .box{
      border-radius: 16px;
      @media screen and (max-width: 576px) {
        border-radius: 8px;
      }
      .img{
        max-height: 254px;
        border-radius: 16px;
        @media screen and (max-width: 1200px) {
          max-height: 214px;
        }
        @media screen and (max-width: 1024px) {
          max-height: 160px;
        }
        @media screen and (max-width: 576px) {
          max-height: 106px;
          border-radius: 8px;
        }
      }
      .info{
        padding: 0 16px 16px;
        @media screen and (max-width: 1024px) {
          padding: 0 8px 16px;
        }
        @media screen and (max-width: 576px) {
          padding: 0 8px 8px;
        }
        .title{
          padding: 16px 0 0;
          font-size: 24px;
          font-weight: 800;
          line-height: 28px;
          letter-spacing: 0.0015em;
          @media screen and (max-width: 920px) {
            padding: 12px 0 0;
            font-weight: 700;
            font-size: 22px;
            line-height: 26px;
          }
          @media screen and (max-width: 768px) {
            font-size: 20px;
            line-height: 24px;
          }
          @media screen and (max-width: 576px) {
            padding: 6px 0 0;
            font-size: 18px;
            line-height: 22px;
          }
          @media screen and (max-width: 480px) {
            font-size: 16px;
            line-height: 20px;
          }
          @media screen and (max-width: 576px) {
            font-size: 14px;
            line-height: 16px;
          }

        }
        .desc{
          padding: 8px 0 0;
          font-size: 16px;
          font-weight: 700;
          line-height: 20px;
          letter-spacing: 0.0015em;
          @media screen and (max-width: 920px) {
            font-weight: 600;
            font-size: 14px;
            line-height: 16px;
          }
          @media screen and (max-width: 576px) {
            padding: 2px 0 0;
            font-weight: 500;
            font-size: 12px;
            line-height: 14px;
          }
          @media screen and (max-width: 480px) {
            font-size: 10px;
            line-height: 12px;
          }
        }
      }
    }
    &:hover{
      .box{
        top: -20px;
        box-shadow: 0px 54px 67px 0px rgba(0, 0, 0, .17);
        @media screen and (max-width: 1024px) {
          top: 0;
          box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
        }
      }
    }
  }
  // Middle || Small || Float size
  &.m{
    max-width: 256px;
    min-width: 256px;
    @media screen and (max-width: 480px) {
      max-width: 172px;
      min-width: 172px;
    }
    .img{
      max-height: 158px;
    }
  }
  //  size
  &.s{
    max-width: 246px;
    min-width: 246px;
    @media screen and (max-width: 480px) {
      max-width: 172px;
      min-width: 172px;
    }
  }
  &.m,
  &.s{
    .box{
      border-radius: 12px;
      @media screen and (max-width: 576px) {
        border-radius: 8px;
      }
      .img{
        border-radius: 12px;
        @media screen and (max-width: 576px) {
          border-radius: 8px;
        }
      }
      .info{
        padding: 0 8px 8px;
        .title{
          padding: 8px 0 0;
          font-size: 16px;
          font-weight: 700;
          line-height: 20px;
          letter-spacing: 0.0015em;
        }
        .desc {
          padding: 6px 0 0;
          font-size: 14px;
          font-weight: 700;
          line-height: 16px;
          letter-spacing: 0.001em;
        }
      }
    }
    &:hover{
      .box{
        top: -10px;
        box-shadow: 0px 10px 20px rgba(0, 0, 0, .17);
      }
    }
  }
}
.night{
  .gamecard{
    .box{
      background: $whiteLight;
      .info{
        .title{
          color: $nWhite;
        }
        .desc{
          color: $white56;
        }
      }
    }
  }
}
