header.main{
  position: fixed;
  top: 0;
  left: 96px;
  right: 0;
  display: flex;
  align-items: center;
  height: 88px;
  padding: 0 48px;
  z-index: 1000;
  @media screen and (max-width: 1024px) {
    left: 80px;
    height: 56px;
    padding: 0 24px;
  }
  @media screen and (max-width: 576px) {
    left: 0;
    padding: 0 16px;
    z-index: 3000;
  }
  &.clear{
    left: 0;
    &:before{
      border-radius: 0;
    }
  }
  &:before{
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 24px 0 0 0;
    background: $dWhite;
    content: "";
    @media screen and (max-width: 576px) {
      border-radius: 0;
    }
  }
  &:after{
    position: absolute;
    bottom: 0;
    left: 48px;
    right: 48px;
    display: block;
    height: 1px;
    background: $grayMedium;
    content: "";
    @media screen and (max-width: 1024px) {
      left: 24px;
      right: 24px;
    }
    @media screen and (max-width: 576px) {
      left: 16px;
      right: 16px;
    }
  }
  .logo{
    position: relative;
    display: block;
    width: 63px;
    height: 24px;
    @media screen and (max-width: 1024px) {
      display: flex;
      align-items: center;
      width: auto;
      height: 16px;
    }
    button{
      width: 100%;
      height: 100%;
      &.small{
        display: none;
        @media screen and (max-width: 1024px) {
          display: block;
          width: 16px;
          height: 16px;
          margin: 0 16px 0 4px;
        }
      }
      @media screen and (max-width: 1024px) {
        &:not(.small) {
          width: 42px;
        }
      }
      svg{
        width: 100%;
        height: 100%;
        fill: $dViolet;
      }
    }
    .dropdown{
      left: 0;
      right: auto;
      width: 380px;
      padding: 24px;

      @media screen and (max-width: 576px) {
        top: 0;
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6));
        ul{
          position: absolute;
          bottom: 0;
          left: 0;
          right: 0;
          height: auto;
          background: $dWhite;
          border-radius: 16px 16px 0px 0px;
        }
      }
      ul{
        li{
          padding: 0 0 30px;
          font-size: 14px;
          line-height: 20px;
          white-space: nowrap;
          color: $dGray;
          &:last-child{
            padding: 0;
          }
          &.close-cell{
            display: none;

            @media screen and (max-width: 576px) {
              position: relative;
              display: block;
              padding: 0;

              .close{
                display: flex;
                position: absolute;
                top: 12px;
                right: 12px;
                justify-content: center;
                align-items: center;
                width: 24px;
                height: 24px;
                border-radius: 50%;
                background: $grayLight;
                z-index: 1;

                svg {
                  width: 9px;
                  height: 9px;
                  fill: $dGray;
                  pointer-events: none;
                }
              }
            }
          }
          &.title-cell{
            svg{
              display: none;
            }
            @media screen and (max-width: 576px) {
              display: flex;
              flex-flow: row nowrap;
              justify-content: flex-start;
              align-items: center;
              margin-bottom: 26px;
              padding: 12px 16px 0;

              svg{
                width: 42px;
                height: 16px;
                margin-right: 32px;
                fill: #755EC6;
              }
              span{
                display: block;
                width: 103px;
                font-weight: 400;
                font-size: 10px;
                line-height: 12px;
                text-align: center;
                overflow: hidden;
                white-space: normal;
              }
            }
          }
          &.list-cell{
            @media screen and (max-width: 576px) {
              padding: 0 16px;
              margin-bottom: 28px;

              &:last-child{
                margin-bottom: 22px;
              }
              a,
              button{
                font-weight: 700;
                text-transform: none;
              }
            }
          }
          a,
          button{
            display: inline-block;
            width: auto;
            font-size: 16px;
            font-weight: 500;
            line-height: 20px;
            letter-spacing: 0.0015em;
            color: $dGray;
          }
        }
      }
    }
  }
  nav{
    display: flex;
    align-items: center;
    margin: 0 0 0 auto;
    .item{
      position: relative;
      margin: 0 0 0 32px;
      @media screen and (max-width: 1024px) {
        margin: 0 0 0 40px;
      }
      @media screen and (max-width: 576px) {
        margin: 0 0 0 24px;
      }
      &.search{
        margin: 0;
        button.btn{
          width: 56px;
          padding: 0;
          @media screen and (max-width: 1024px) {
            width: 20px;
            background: transparent;
          }
        }
      }
      &.wallet{
        button.btn{
          @media screen and (max-width: 1024px) {
            padding: 0;
            background: transparent;
          }
          span{
            display: block;
            padding: 0 8px 0 10px;
            font-size: 14px;
            font-weight: 500;
            line-height: 14px;
            letter-spacing: 0.0015em;
            white-space: nowrap;
            &:before{
              padding: 0 2px 0 0;
              content: '$';
            }
            @media screen and (max-width: 1024px) {
              display: none;
            }
          }
          .plus{
            display: flex;
            justify-content: center;
            align-items: center;
            width: 24px;
            height: 24px;
            border-radius: 50%;
            background: $dViolet;
            svg{
              width: 12px;
              height: 12px;
              fill: $dWhite;
            }
            @media screen and (max-width: 1024px) {
              display: none;
            }
          }
        }
      }
      &.notifications{
        button.btn{
          width: 56px;
          padding: 0;
          @media screen and (max-width: 1024px) {
            width: 18px;
            background: transparent;
          }
          span.badge{
            top: 8px;
            right: 4px;
            height: 17px;
            border: 1px solid $dWhite;
            font-size: 10px;
            font-weight: 500;
            line-height: 10px;
            color: $dWhite;
            @media screen and (max-width: 1024px) {
              right: -18px;
            }
            @media screen and (max-width: 576px) {
              right: -14px;
            }
          }
        }
        .dropdown{
          width: 460px;
        }
      }
      &.account{
        button.btn{
          text-transform: none;
          @media screen and (max-width: 1024px) {
            padding: 0;
            background: transparent;
          }
          .photo{
            width: 40px;
            height: 40px;
            border-radius: 50%;
            overflow: hidden;
            @media screen and (max-width: 1024px) {
              width: 32px;
              height: 32px;
            }
            img{
              display: block;
              width: 100%;
            }
          }
          span{
            display: block;
            padding: 0 16px;
            font-size: 16px;
            font-weight: 700;
            line-height: 20px;
            white-space: nowrap;
            letter-spacing: 0.0015em;
            @media screen and (max-width: 1024px) {
              display: none;
            }
          }
          @media screen and (max-width: 1024px) {
            svg{
              display: none;
            }
          }
        }
        .dropdown{
          li{
            span{
              font-size: 14px;
              font-weight: 600;
              line-height: 16px;
              white-space: nowrap;
              letter-spacing: 0.001em;
            }
            &:last-child{
              svg{
                fill: $dOrange;
              }
              span{
                color: $dOrange;
              }
            }
          }
        }
      }
      &.signin{
        display: flex;
        align-items: center;
        button{
          margin: 0 8px 0 0;
          @media screen and (max-width: 1024px) {
            padding: 0;
            margin: 0 24px 0 0;
            background: transparent;
          }
          &:last-child{
            margin: 0;
          }
          span{
            display: block;
            @media screen and (max-width: 1024px) {
              display: none;
            }
          }
          svg{
            display: none;
            fill: $dGray;
            @media screen and (max-width: 1024px) {
              display: block;
            }
          }
        }
      }
      button.btn{
        height: 56px;
        font-size: 16px;
        font-weight: 700;
        line-height: 20px;
        white-space: nowrap;
        letter-spacing: 0.0015em;
        @media screen and (max-width: 1024px) {
          height: 40px;
        }
        svg{
          width: 20px;
          height: 20px;
        }
      }
    }
  }
  .dropdown{
    img.illustration{
      visibility: hidden;
    }
    &.open{
      img.illustration{
        visibility: visible;
      }
    }
  }
}

.night{
  header.main{
    &:before{
      background: $nBlack;
    }
    &:after{
      background: $white20;
    }
    .logo{
      a,
      button{
        svg{
          fill: $nViolet;
        }
      }
      .dropdown{
        ul{
          li{
            color: $nWhite;
            a,
            button{
              color: $nWhite;
            }
          }
        }
      }
    }
    .item{
      &.wallet{
        button.btn{
          .plus{
            background: $nViolet;
          }
        }
      }
      &.notifications{
        button.btn{
          span.badge{
            border-color: $whiteLight;
          }
        }
      }
      &.account{
        .dropdown{
          li:last-child{
            svg{
              fill: $nOrange;
            }
            span{
              color: $nOrange;
            }
          }
        }
      }
    }
  }
}

.app.gamepage{
  @media screen and (max-width: 920px) {
    header.main{
      display: none;
    }
  }
}


header.main.is_guest{
  nav {
    .item {
      &.wallet {
        @media screen and (max-width: 576px) {
          display: none;
        }
      }
      &.notifications {
        @media screen and (max-width: 576px) {
          display: none;
        }
      }
      &.account{
        .togglemenu_guest_desk{
          @media screen and (max-width: 576px) {
            padding: 0 16px;
            margin: 0;
            border-radius: 12px;
            font-size: 14px;
            font-weight: 800;
            line-height: 16px;
            letter-spacing: 0.06em;
            background: $dViolet;
            color: $dWhite;
            white-space: nowrap;
            text-transform: uppercase;

            &::after{
              content: 'Log in';
            }
          }
          .photo{
            @media screen and (max-width: 576px) {
              display: none;
            }
          }
        }
      }
    }
  }
}
