.index_page{
  .pagetitle.small{
    font-size: 40px;
    font-weight: 800;
    line-height: 48px;
  }
  .swiper-container{
    overflow: visible;
  }
  // Main slider
  .main_slider{
    position: relative;
    height: 550px;
    /* margin: 36px 0 0; */
    padding: 36px 0 60px;
    overflow: hidden;
    @media screen and (max-width: 1260px) {
      height: 540px;
    }
    @media screen and (max-width: 1250px) {
      height: 535px;
    }
    @media screen and (max-width: 1240px) {
      height: 530px;
    }
    @media screen and (max-width: 1230px) {
      height: 525px;
    }
    @media screen and (max-width: 1220px) {
      height: 520px;
    }
    @media screen and (max-width: 1210px) {
      height: 515px;
    }
    @media screen and (max-width: 1200px) {
      height: 510px;
    }
    @media screen and (max-width: 1180px) {
      height: 505px;
    }
    @media screen and (max-width: 1160px) {
      height: 500px;
    }
    @media screen and (max-width: 1140px) {
      height: 495px;
    }
    @media screen and (max-width: 1120px) {
      height: 490px;
    }
    @media screen and (max-width: 1110px) {
      height: 485px;
    }
    @media screen and (max-width: 1100px) {
      height: 480px;
    }
    @media screen and (max-width: 1080px) {
      height: 475px;
    }
    @media screen and (max-width: 1060px) {
      height: 470px;
    }
    @media screen and (max-width: 1040px) {
      height: 465px;
    }
    @media screen and (max-width: 1024px) {
      height: auto;
      margin: 24px 0 0;
    }
    @media screen and (max-width: 920px) {
      padding: 0 0 50px;
    }
    @media screen and (max-width: 576px) {
      margin: 16px 0 0;
      padding: 0 0 30px;
    }
    &:before,
    &:after{
      position: absolute;
      top: 0;
      display: block;
      width: calc((100% - 208px) / 4);
      height: 100%;
      z-index: 10;
      content: "";
      @media screen and (max-width: 1700px) {
        width: calc((100% - 208px) / 5);
      }
      @media screen and (max-width: 1500px) {
        width: calc((100% - 208px) / 6);
      }
      @media screen and (max-width: 1350px) {
        width: 60px;
      }
      @media screen and (max-width: 1024px) {
        display: none;
      }
    }
    &:before{
      left: 0;
      background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%);
    }
    &:after{
      right: 0;
      background: linear-gradient(90deg, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
    }
    .swiper-slide{
      width: 800px;
      @media screen and (max-width: 1300px) {
        max-width: calc((100% / 100) * 65);
        min-width: calc((100% / 100) * 65);
      }
      @media screen and (max-width: 1024px) {
        max-width: calc(100Vw - 128px);
        min-width: calc(100Vw - 128px);
      }
      @media screen and (max-width: 700px) {
        max-width: calc(100Vw - 80px);
        min-width: calc(100Vw - 80px);
      }
      @media screen and (max-width: 576px) {
        max-width: calc(100Vw - 40px);
        min-width: calc(100Vw - 40px);
      }
      .box{
        width: 100%;
        margin-top: 40px;
        border-radius: 24px;
        transition: all .15s ease;
        @media screen and (max-width: 1024px) {
          margin-top: 0;
          opacity: .6;
        }
        @media screen and (max-width: 920px) {
          border-radius: 16px;
        }
        @media screen and (max-width: 576px) {
          border-radius: 8px;
        }
        .img{
          @media screen and (max-width: 576px) {
            position: relative;
            border-radius: 8px;
            z-index: 1;
          }
          img{
            display: block;
            width: 100%;
          }
          &:after{
            display: none;
          }
        }
        .info{
          position: absolute;
          bottom: 0;
          left: 0;
          display: flex;
          justify-content: space-between;
          align-items: center;
          width: 100%;
          padding: 24px;
          background: rgba(0, 0, 0, 0.8);
          visibility: hidden;
          opacity: 0;
          transition: all .15s ease;
          @media screen and (max-width: 576px) {
            position: relative;
            align-items: flex-start;
            padding: 20px 12px 12px;
            margin: -8px 0 0;
            background: $dBlack;
            visibility: visible;
            opacity: 1;
          }
          .text{
            flex: 1 1 auto;
            padding: 0 20px 0 0;
            @media screen and (max-width: 576px) {
              padding: 0 10px 0 0;
            }
            .title{
              padding: 0;
              margin: 0;
              font-size: 32px;
              font-weight: 800;
              line-height: 40px;
              color: $dWhite;
              letter-spacing: 0.0025em;
              @media screen and (max-width: 920px) {
                font-size: 28px;
                line-height: 32px;
              }
              @media screen and (max-width: 768px) {
                font-size: 24px;
                line-height: 28px;
              }
              @media screen and (max-width: 576px) {
                font-size: 20px;
                line-height: 24px;
              }
              @media screen and (max-width: 480px) {
                font-size: 16px;
                font-weight: 700;
                line-height: 20px;
              }
            }
            .desc{
              padding: 12px 0 0;
              font-size: 16px;
              line-height: 24px;
              color: $dWhite;
              letter-spacing: 0.001em;
              @media screen and (max-width: 768px) {
                padding: 6px 0 0;
                font-size: 14px;
                line-height: 20px;
              }
              @media screen and (max-width: 576px) {
                font-size: 12px;
                line-height: 16px;
              }
              @media screen and (max-width: 480px) {
                font-size: 10px;
                line-height: 12px;
              }
              br{
                @media screen and (max-width: 576px) {
                  display: none;
                }
              }
            }
          }
          a,
          button{
            display: flex;
            justify-content: center;
            align-items: center;
            max-width: 105px;
            min-width: 105px;
            height: 48px;
            border-radius: 12px;
            background: $dViolet;
            text-decoration: none;
            @media screen and (max-width: 576px) {
              max-width: 32px;
              min-width: 32px;
              height: 32px;
              border-radius: 50%;
            }
            svg{
              display: block;
              width: 13px;
              height: 16px;
              fill: $dWhite;
            }
            span{
              display: block;
              padding: 0 0 0 16px;
              font-size: 14px;
              font-weight: 800;
              line-height: 16px;
              color: $dWhite;
              letter-spacing: 0.06em;
              text-transform: uppercase;
              @media screen and (max-width: 576px) {
                display: none;
              }
            }
          }
        }
        &.current_slide{
          width: calc(100% + 160px);
          margin: 0 0 0 -80px;
          box-shadow: 0px 30px 50px 0px rgba(45, 44, 44, .16);
          transition: all .15s ease;
          opacity: 1;
          @media screen and (max-width: 1024px) {
            width: 100%;
            margin: 0;
          }
          .info{
            transition: all .15s ease;
            visibility: visible;
            opacity: 1;
          }
        }
        &.previous{
          width: calc(100% + 160px);
          margin: 0 0 0 -80px;
          box-shadow: 0px 30px 50px 0px rgba(45, 44, 44, .16);
          transition: all 0s ease;
          opacity: 1;
          @media screen and (max-width: 1024px) {
            width: 100%;
            margin: 0;
          }
          .info{
            transition: all .15s ease;
            visibility: visible;
            opacity: 1;
          }
        }
      }
      &-active{
        .box{
          width: calc(100% + 160px);
          margin: 0 0 0 -80px;
          box-shadow: 0px 30px 50px 0px rgba(45, 44, 44, .16);
          transition: all .15s ease;
          opacity: 1;
          @media screen and (max-width: 1024px) {
            width: 100%;
            margin: 0;
          }
          .info{
            transition: all .15s ease;
            visibility: visible;
            opacity: 1;
          }
        }
      }
    }
    .swipernav{
      button{
        left: 50%;
        @media screen and (max-width: 1300px) {
          margin-left: 0!important;
        }
        &.prev{
          margin-left: -580px;
          @media screen and (max-width: 1300px) {
            left: 30px;
          }
        }
        &.next{
          margin-left: 514px;
          @media screen and (max-width: 1300px) {
            left: auto;
            right: 30px;
          }
        }
      }
      @media screen and (max-width: 1024px) {
        display: none;
      }
    }
    .swiperpager{
      display: none;
      @media screen and (max-width: 1024px) {
        display: flex;
        align-items: center;
        padding: 18px 24px 0;
      }
      @media screen and (max-width: 576px) {
        justify-content: center;
      }
      span{
        display: block;
        width: 6px;
        height: 6px;
        margin: 0 4px 0 0;
        border-radius: 3px;
        background: $grayMedium;
        transition: all .15s ease;
        opacity: 1;
        @media screen and (max-width: 576px) {
          width: 8px;
          height: 8px;
          border-radius: 4px;
        }
        &:last-child{
          margin: 0;
        }
        &.swiper-pagination-bullet-active{
          width: 24px;
          background: $dGray;
        }
      }
    }
  }
  // Filters
  .filters{
    width: calc(100% + 96px);
    max-width: calc(100% + 96px);
    padding: 0 0 20px 48px;
    margin: 0 0 0 -48px;
    @media screen and (max-width: 1024px) {
      width: calc(100% + 48px);
      max-width: calc(100% + 48px);
      padding: 0 0 0 24px;
      margin: 0 0 0 -24px;
    }
    @media screen and (max-width: 576px) {
      width: calc(100% + 32px);
      max-width: calc(100% + 32px);
      padding: 0 0 0 16px;
      margin: 0 0 0 -16px;
    }
    &.categories{
      width: 100%;
      max-width: 100%;
      min-width: auto;
      padding: 0 48px 20px;
      margin: 0;
      @media screen and (max-width: 1024px) {
        padding: 0 24px;
      }
      @media screen and (max-width: 576px) {
        padding: 0 16px;
      }
    }
    ul{
      li:last-child{
        padding-right: 48px;
        @media screen and (max-width: 1024px) {
          padding-right: 24px;
        }
        @media screen and (max-width: 576px) {
          padding-right: 16px;
        }
      }
    }
  }
  // Category slider
  .category_slider{
    position: relative;
    padding: 0 48px;
    overflow: hidden;
    @media screen and (max-width: 1024px) {
      padding: 0 24px;
    }
    @media screen and (max-width: 576px) {
      padding: 0 16px;
    }
    &:before,
    &:after{
      position: absolute;
      top: 0;
      display: block;
      height: 100%;
      z-index: 100;
      content: "";
      @media screen and (max-width: 576px) {
        display: none;
      }
    }
    &:before{
      left: 0;
      width: 48px;
      background: linear-gradient(90deg, white 50%, rgba(255, 255, 255, 0) 100%);
      @media screen and (max-width: 1024px) {
        width: 24px;
      }
    }
    &:after{
      right: 0;
      width: 100px;
      background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0, white 100%);
      @media screen and (max-width: 1024px) {
        width: 24px;
      }
    }
    .swiperbox{
      position: relative;
      .swiper-container{
        padding: 0 0 90px;
        @media screen and (max-width: 1024px) {
          padding: 0 0 40px;
        }
      }
      .swipernav{
        button{
          margin: -135px 0 0;
          &.prev{
            left: 60px;
          }
          &.next{
            right: 60px;
          }
        }
      }
    }
  }
  // Category
  .categoriesbox{
    .wrap{
      padding: 0 48px;
      @media screen and (max-width: 1024px) {
        padding: 0 24px;
      }
      @media screen and (max-width: 576px) {
        padding: 0 16px;
      }
    }
    ul.category{
      display: flex;
      flex-flow: row wrap;
      margin: 0 36px;
      @media screen and (max-width: 1024px) {
        margin: 0 12px;
      }
      li{
        width: 20%;
        @media screen and (max-width: 1920px) {
          width: 25%;
        }
        @media screen and (max-width: 920px) {
          width: 33.333%;
          padding: 0 12px 24px;
        }
        @media screen and (max-width: 768px) {
          width: 50%;
        }
        @media screen and (max-width: 576px) {
          padding: 0 4px 8px;
        }
      }
    }
    .notgames{
      padding: 40px 0 0;
      .img{
        max-width: 426px;
        margin: 0 auto;
        img{
          display: block;
          width: 100%;
        }
      }
      .desc{
        padding: 60px 0;
        font-size: 24px;
        font-weight: 800;
        line-height: 28px;
        color: #556980;
        letter-spacing: 0.0015em;
        text-align: center;
      }
    }
  }
  // Peoples list
  ul.peoples_list{
    display: flex;
    flex-flow: row wrap;
    padding: 0 24px;
    @media screen and (max-width: 920px) {
      padding: 0;
    }
    li{
      width: 11.111%;
      padding: 0 24px 40px;
      @media screen and (max-width: 1500px) {
        width: 20%;
      }
      @media screen and (max-width: 1300px) {
        width: 25%;
      }
      @media screen and (max-width: 1024px) {
        width: 33.333%;
        padding: 40px 12px 0;
      }
      @media screen and (max-width: 576px) {
        width: 50%;
        padding: 30px 12px 0;
      }
      @media screen and (max-width: 480px) {
        padding: 20px 12px 0;
      }
      button{
        display: block;
        width: 100%;
        color: $dBlack;
        text-decoration: none;
        text-align: center;
        text-transform: none;
        .userphoto{
          max-width: 112px;
          min-width: 112px;
          height: 112px!important;
          margin: 0 auto;
          img{
            height: 100%;
          }
        }
        .name{
          padding: 16px 0 0;
          font-size: 16px;
          font-weight: 700;
          line-height: 20px;
          letter-spacing: 0.0015em;
          text-align: center;
        }
      }
    }
  }
  // Search no result
  .noresults{
    display: flex;
    align-items: center;
    padding: 40px 48px;
    &.page{
      display: block;
      width: 500px;
      padding: 60px 0;
      margin: 0 auto;
      @media screen and (max-width: 576px) {
        width: 100%;
      }
      .img{
        margin: 0 auto;
      }
      .text{
        padding: 80px 0 0;
        text-align: center;
        b,
        p{
          text-align: center;
        }
      }
    }
    .img{
      position: relative;
      max-width: 300px;
      min-width: 300px;
      height: 186px;
      margin: 0 80px 0 0;
    }
    .text{
      flex: 1 1 auto;
      b{
        padding: 0;
        margin: 0;
        font-size: 24px;
        font-weight: 800;
        line-height: 28px;
        letter-spacing: 0.0015em;
        color: $dGray;
      }
      p{
        padding: 8px 0 0;
        margin: 0;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0.001em;
        color: $dGray;
      }
    }
  }
}
.night{
  .index_page{
    .main_slider{
      &:before{
        left: 0;
        background: linear-gradient(90deg, #2C2A36 0%, rgba(44, 42, 54, 0) 100%);
      }
      &:after{
        right: 0;
        background: linear-gradient(90deg, rgba(44, 42, 54, 0) 0%, #2C2A36 100%);
      }
      .swiper-slide{
        .box{
          &.current_slide{
            box-shadow: 0px 30px 50px rgba(0, 0, 0, 0.16);
          }
          &.previous{
            box-shadow: 0px 30px 50px rgba(0, 0, 0, 0.16);
          }
          .info{
            @media screen and (max-width: 576px) {
              background: $whiteLight;
            }
          }
        }
      }
      .swiperpager{
        span{
          background: $white56;
          &.swiper-pagination-bullet-active{
            background: $nWhite;
          }
        }
      }
    }
    .category_slider{
      &:before{
        background: linear-gradient(90deg, #2C2A36 50%, rgba(44, 42, 54, 0) 100%);
      }
      &:after{
        background: linear-gradient(90deg, rgba(44, 42, 54, 0) 0, #2C2A36 100%);
      }
      .boxtitle{
        color: $dWhite;
      }
    }
    .categoriesbox{
      .notgames{
        .desc{
          color: rgba(255, 255, 255, 0.72);
        }
      }
    }
    ul.peoples_list{
      li{
        button{
          .name{
            color: $nWhite;
          }
        }
      }
    }
    .noresults{
      &.page{
        b,
        p{
          color: $white72;
        }
      }
      .text{
        b,
        p{
          color: $white72;
        }
      }
    }
  }
}
