.authmodal{
  padding: 40px;
  button.close{
    @media screen and (max-width: 576px) {
      top: 36px!important;
      right: 16px!important;
    }
  }
  .modalcontent{
    .top{
      position: relative;
      @media screen and (max-width: 576px) {
        padding: 20px 0 0;
      }
      a.logo{
        display: block;
        width: 72px;
        height: 28px;
        svg{
          width: 100%;
          height: 100%;
          fill: $dViolet;
        }
      }
      &.flex{
        display: flex;
        align-items: center;
        button{
          width: 20px;
          height: 16px;
          svg{
            width: 100%;
            height: 100%;
            fill: $dViolet;
          }
        }
        span{
          display: block;
          padding: 0 0 0 20px;
          font-size: 24px;
          font-weight: 800;
          line-height: 28px;
          letter-spacing: 0.0015em;
          @media screen and (max-width: 576px) {
            padding: 0 0 0 16px;
            font-size: 20px;
            line-height: 24px;
          }
        }
      }
    }
    form{
      padding: 40px 0 0;
      &.st1{
        padding: 40px 0 0 40px;
        @media screen and (max-width: 576px) {
          padding: 32px 0 0;
        }
        .btns{
          padding: 0;
        }
      }
      .desc{
        padding: 0 0 34px;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0.001em;
        @media screen and (max-width: 576px) {
          padding: 0 0 24px;
          font-size: 14px;
          line-height: 20px;
        }
      }
      .alert{
        padding: 8px 16px;
        margin: 0 0 24px;
        border: 1px solid #ffb2b2;
        border-radius: 12px;
        background: #fbe3e3;
      }
      fieldset{
        padding: 0 0 24px;
        input{
          display: block;
          height: 56px;
          padding: 0 16px;
        }
        button{
          position: absolute;
          top: 20px;
          right: 20px;
          width: 22px;
          height: 16px;
          svg{
            width: 100%;
            height: 100%;
            fill: $dGray;
          }
        }
        span.error{
          display: block;
          padding: 8px 10px 0;
          font-size: 12px;
          line-height: 12px;
          color: $dOrange;
        }
      }
      .btns{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 0 24px;
        button{
          padding: 0 16px;
          margin: 0 24px 0 0;
          border-radius: 12px;
          font-size: 14px;
          font-weight: 800;
          line-height: 16px;
          letter-spacing: 0.06em;
          &.link{
            width: auto;
            height: auto;
            margin: 0;
            padding: 0;
            border-radius: 0;
            background: transparent;
            color: $dViolet;
            @media screen and (max-width: 576px) {
              margin: 0 0 0 auto;
            }
          }
        }
        .btns__privacy{
          display: block;
          font-size: 14px;
          font-weight: 800;
          line-height: 16px;
          letter-spacing: 0.06em;
          color: $dViolet;
          text-transform: uppercase;
        }
      }
      .signup{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 24px 0;
        border: 1px solid $grayMedium;
        border-width: 1px 0;
        .text{
          font-size: 16px;
          font-weight: 500;
          line-height: 24px;
          letter-spacing: 0.001em;
          color: $dGray;
        }
        button{
          display: block;
          font-size: 14px;
          font-weight: 800;
          line-height: 16px;
          letter-spacing: 0.06em;
          color: $dViolet;
          text-transform: uppercase;
        }
      }
      .social{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 24px 0 0;
        @media screen and (max-width: 576px) {
          display: block;
        }
        .text{
          font-size: 16px;
          font-weight: 500;
          line-height: 24px;
          letter-spacing: 0.001em;
          color: $dGray;
          @media screen and (max-width: 576px) {
            padding: 0 0 12px;
          }
        }
        ul{
          display: flex;
          align-items: center;
          li{
            padding: 0 12px 0 0;
            &:last-child{
              padding: 0;
            }
            button{
              display: flex;
              justify-content: center;
              align-items: center;
              width: 48px;
              height: 48px;
              border: 2px solid transparent;
              border-radius: 12px;
              svg{
                fill: $dWhite;
              }
              img{
                width: 20px;
              }
            }
            &:nth-child(1){
              button{
                border-color: $dFacebook;
                background: $dFacebook;
                svg{
                  width: 8px;
                  height: 16px;
                }
              }
            }
            &:nth-child(2){
              button{
                border-color: $dTwitter;
                background: $dTwitter;
                svg{
                  width: 16px;
                  height: 14px;
                }
              }
            }
            &:nth-child(3){
              button{
                border-color: $grayLight;
                background: $dWhite;
                svg{
                  width: 18px;
                  height: 18px;
                }
              }
            }
          }
        }
      }
    }
  }
  &.textbox{
    padding: 24px;
    .modalcontent{
      .top{
        font-size: 24px;
        font-weight: 800;
        line-height: 28px;
        letter-spacing: 0.0015em;
      }
      .text{
        padding: 24px 0 0;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0.001em;
        color: $dGray;
      }
      button{
        height: 36px;
        margin: 32px 0 0;
      }
    }
  }
  &.logoutbox{
    padding: 24px;
    .modalcontent{
      .top{
        font-size: 24px;
        font-weight: 800;
        line-height: 28px;
        letter-spacing: 0.0015em;
      }
      .text{
        padding: 24px 0 0;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0.001em;
        color: $dGray;
      }
      .btns{
        display: flex;
        align-items: center;
        padding: 32px 0 0;
        button{
          height: 36px;
          margin: 0 8px 0 0;
          font-size: 14px;
          font-weight: 800;
          line-height: 16px;
          letter-spacing: 0.06em;
          &:last-child{
            margin: 0;
          }
        }
      }
    }
  }
}
.night{
  .authmodal{
    .modalcontent{
      .top{
        a.logo{
          svg{
            fill: $nViolet;
          }
        }
        &.flex{
          button{
            svg{
              fill: $nViolet;
            }
          }
        }
      }
      form{
        .desc{
          color: $white72;
        }
        fieldset{
          button{
            svg{
              fill: $white56;
            }
          }
        }
        .btns{
          button{
            &.link{
              color: $nViolet;
            }
          }
          .btns__privacy{
            color: $nViolet;
          }
        }
        .signup{
          border-color: $white20;
          .text{
            color: $white56;
          }
          button{
            color: $nViolet;
          }
        }
        .social{
          .text{
            color: $white56;
          }
        }
      }
    }
    &.textbox{
      .modalcontent{
        .text{
          padding: 24px 0 0;
          color: $white72;
        }
      }
    }
    &.logoutbox{
      .modalcontent{
        .text{
          color: $white72;
        }
      }
    }
  }
}
