.gamemodal{
  padding: 24px;
  &.menumodal{
    @media screen and (max-width: 576px) {
      position: absolute;
      top: auto !important;
      bottom: 0;
      height: auto!important;
      border-radius: 16px 16px 0 0!important;
    }
  }
  .modalcontent{
    .title{
      font-size: 32px;
      font-weight: 800;
      line-height: 40px;
      letter-spacing: 0.0025em;
    }
    .desc{
      padding: 24px 0 0;
      color: $dGray;
      strong{
        font-weight: 700;
        color: $dBlack;
      }
    }
    .btns{
      display: flex;
      align-items: center;
      padding: 30px 0 0;
      button{
        margin: 0 8px 0 0;
        font-size: 14px;
        font-weight: 800;
        line-height: 16px;
        letter-spacing: 0.06em;
        text-transform: uppercase;
        &:last-child{
          margin: 0;
        }
      }
    }
    &.menu{
      .topinfo{
        display: flex;
        align-items: center;
        .img{
          max-width: 64px;
          min-width: 64px;
          height: 64px;
          margin: 0 24px 0 0;
          border-radius: 8px;
          overflow: hidden;
          @media screen and (max-width: 576px) {
            display: none;
          }
          img{
            display: block;
            width: 100%;
            height: 100%;
          }
        }
        .name{
          font-size: 16px;
          font-weight: 700;
          line-height: 20px;
          color: $dBlack;
          letter-spacing: 0.0015em;
          @media screen and (max-width: 576px) {
            color: $grayMedium;
          }
        }
      }
      ul.menu{
        padding: 38px 0 10px;
        li{
          padding: 0 0 28px;
          &:last-child{
            padding: 0;
            button{
              color: $dOrange;
            }
          }
          button{
            font-size: 16px;
            font-weight: 700;
            line-height: 20px;
            color: $dGray;
            letter-spacing: 0.0015em;
          }
        }
      }
    }
  }
  &.info{
    padding: 40px 0 0;
    overflow: hidden;

    &.modalinfo{
      .bottom-btns{
        display: none;
      }
      @media screen and (max-width: 576px) {
        width: 100%;
        max-width: 100%;
        border-radius: 16px 16px 0px 0px;

        button.close{
          background: $grayLight;
        }
        .modalcontent {
          display: flex;
          flex-flow: column nowrap;
          justify-content: flex-start;
          align-items: stretch;

          .top{
            padding: 0 0 16px 0;
            &::after{
              left: 0;
              right: 0;
            }

            .img{
              max-width: 80px;
              min-width: 80px;
              height: 80px;
              margin: 0 16px 0 0;
              border-radius: 16px;
            }
            .info{
              .title{
                font-size: 20px;
                line-height: 24px;
              }
              .btns{
                padding-top: 4px;
                .friends{
                  margin: 0;
                  ul{
                    display: none;
                  }
                }
                .item{
                  display: none;
                }
              }
            }
          }
          .gameinfo{
            flex: 1 0 auto;
            padding: 16px 0 0;
            max-height: none;
            overflow-x: hidden !important;

            .screens{
              .boxtitle{
                padding: 0;
                font-size: 20px;
                font-weight: 700;
                line-height: 24px;
              }
              .swiperbox{
                margin: 8px 0 16px;
                padding: 0;

                .swiper-slide{
                  max-width: 172px;
                  min-width: auto;
                  max-height: 182px;
                  margin-bottom: 0;
                  margin-right: 8px !important;
                  border-radius: 8px;

                  .img{
                    border-radius: 8px;
                  }
                }
              }
            }
            .desc{
              padding: 0 0 16px;
              font-size: 14px;
              line-height: 20px;
              /* color: $dBlack; */
            }
          }
          .bottom-btns{
            display: flex;
            flex-flow: row nowrap;
            justify-content: flex-start;
            align-items: flex-end;

            .item{
              margin-right: 8px;

              &:last-child {
                margin-right: 0;
              }
              button {
                height: 36px;
                font-size: 14px;
                font-weight: 800;
                line-height: 16px;
                letter-spacing: 0.06em;
                text-transform: uppercase;
                border-radius: 8px;
              }
            }
          }
        }
      }
    }
    .top{
      position: relative;
      display: flex;
      align-items: center;
      padding: 0 40px 40px;
      &:after{
        position: absolute;
        top: 100%;
        left: 40px;
        right: 40px;
        height: 1px;
        background: $grayMedium;
        content: "";
      }
      .img{
        max-width: 124px;
        min-width: 124px;
        height: 124px;
        margin: 0 32px 0 0;
        border-radius: 16px;
        overflow: hidden;
        img{
          height: 100%;
        }
      }
      .info{
        flex: 1 1 auto;
        .btns{
          display: flex;
          align-items: center;
          padding: 16px 0 0;
          .item{
            position: relative;
            padding: 0 8px 0 0;
            &:last-child{
              padding: 0;
            }
            .dropdown{
              left: 0;
              right: auto;
              ul{
                li{
                  &:nth-child(1){
                    a{
                      span{
                        color: $dFacebook;
                      }
                      svg{
                        fill: $dFacebook;
                      }
                    }
                  }
                  &:nth-child(2){
                    a{
                      span{
                        color: $dTwitter;
                      }
                      svg{
                        fill: $dTwitter;
                      }
                    }
                  }
                  &:nth-child(3){
                    a{
                      span{
                        color: $dVk;
                      }
                      svg{
                        fill: $dVk;
                      }
                    }
                  }
                }
              }
            }
          }
          .friends{
            display: flex;
            align-items: center;
            margin: 0 0 0 auto;
            .label{
              font-size: 12px;
              line-height: 16px;
              letter-spacing: 0.004em;
              span{
                padding: 0 0 0 4px;
              }
            }
            ul{
              display: flex;
              align-items: center;
              li{
                padding: 0 0 0 10px;
                button{
                  width: 32px;
                  height: 32px;
                  border-radius: 50%;
                  overflow: hidden;
                  img{
                    display: block;
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                  }
                }
              }
            }
          }
        }
      }
    }
    .gameinfo{
      max-height: 414px;
      padding: 40px 0 0;
      .screens{
        .boxtitle{
          padding: 0 40px 24px;
          font-size: 32px;
          font-weight: 800;
          line-height: 40px;
          letter-spacing: 0.0025em;
        }
        .swiperbox{
          padding: 0 0 0 40px;
          .swiper-container{
            overflow: visible;
          }
          .swiper-slide{
            max-width: 414px;
            min-width: 414px;
            margin-bottom: 24px;
            border-radius: 16px;
            box-shadow:  0px 64px 67px rgba(0, 0, 0, 0);
            transition: all .15s ease;
            cursor: pointer;
            .img{
              position: relative;
              border-radius: 16px;
              overflow: hidden;
              span{
                position: absolute;
                top: 50%;
                left: 50%;
                display: flex;
                justify-content: center;
                align-items: center;
                width: 48px;
                height: 48px;
                margin: -24px 0 0 -24px;
                border-radius: 50%;
                background: $dViolet;
                visibility: hidden;
                opacity: 0;
                transition: all .15s ease;
                svg{
                  width: 24px;
                  height: 24px;
                  fill: $dWhite;
                }
              }
              &:before{
                position: absolute;
                top: 0;
                left: 0;
                display: block;
                width: 100%;
                height: 100%;
                background: rgba(0, 0, 0, 0.6);
                visibility: hidden;
                opacity: 0;
                transition: all .15s ease;
                content: "";
              }
            }
            &:hover{
              box-shadow:  0px 64px 67px rgba(0, 0, 0, 0.2);
              .img{
                &:before{
                  visibility: visible;
                  opacity: 1;
                }
                span{
                  visibility: visible;
                  opacity: 1;
                }
              }
            }
          }
          .swipernav{
            button{
              margin: -44px 0 0;
              &.prev_screen{
                left: 40px;
              }
              &.next_screen{
                right: 40px;
              }
            }
          }
        }
      }
      .desc{
        padding: 0 40px 20px;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0.001em;
      }
    }
  }
  &.buy{
    padding: 40px;

    .info{
      display: flex;
      flex-flow: row nowrap;
      justify-content: flex-start;
      align-items: stretch;

      margin-top: 40px;

      @media screen and (max-width: 576px) {
        flex-flow: column nowrap;
        margin-top: 16px;
      }

      .img{
        display: block;
        object-fit: cover;
        width: 148px;
        height: 148px;
        background:#C4C4C4;
        border-radius: 16px;
      }
      .content{
        display: flex;
        flex-flow: column nowrap;
        justify-content: space-between;
        align-items: flex-start;

        @media screen and (max-width: 576px) {
            margin-top: 16px;
        }

        .top{
          display: flex;
          flex-flow: row nowrap;
          justify-content: flex-start;
          align-items: flex-start;

          @media screen and (max-width: 576px) {
              flex-flow: row wrap;
          }

          .item{
            margin-left: 104px;

            @media screen and (max-width: 576px) {
                margin-left: 40px;
            }
            &:first-child{
              margin-left: 40px;

              @media screen and (max-width: 576px) {
                margin-left: 0;
              }
            }
            .label{
              font-size: 14px;
              line-height: 20px;
              letter-spacing: 0.0015em;
              color: $black72;
            }
            .desc{
              padding: 0;
              font-weight: 800;
              font-size: 32px;
              line-height: 40px;
              letter-spacing: 0.0025em;
              color: $black90;
            }
          }
          .description{
            display: flex;
            flex-flow: row wrap;
            justify-content: flex-start;
            align-items: center;
            height: 100%;
            margin-left: 104px;

              @media screen and (max-width: 576px) {
                margin-left: 0px;
                margin-top: 16px;
              }
              p{
                margin: 0;
                font-weight: 400;
                font-size: 16px;
                line-height: 24px;
                letter-spacing: 0.001em;
              }
              .dark{
                color: $dBlack;
              }
              .red{
                color: $dOrange;
              }
          }
        }
        .btns{
          margin-left: 40px;
          padding: 0;

          @media screen and (max-width: 576px) {
            margin-left: 0px;
            margin-top: 16px;
          }
        }
      }
    }
  }

}
.night{
  .gamemodal{
    .modalcontent{
      .desc{
        color: $nWhite;
        strong{
          color: $nWhite;
        }
      }
      &.menu{
        .topinfo{
          .name{
            color: $nWhite;
            @media screen and (max-width: 576px) {
              color: $white56;
            }
          }
        }
        ul.menu{
          li{
            &:last-child{
              button{
                color: $nOrange;
              }
            }
            button{
              color: $nWhite;
            }
          }
        }
      }
    }
    &.info{
      .top{
        .info{
          .btns{
            .item{
              .dropdown{
                ul{
                  li{
                    &:nth-child(1){
                      a{
                        span{
                          color: $nFacebook;
                        }
                        svg{
                          fill: $nFacebook;
                        }
                      }
                    }
                    &:nth-child(2){
                      a{
                        span{
                          color: $nTwitter;
                        }
                        svg{
                          fill: $nTwitter;
                        }
                      }
                    }
                    &:nth-child(3){
                      a{
                        span{
                          color: $nVk;
                        }
                        svg{
                          fill: $nVk;
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
    &.buy{
      background: $blackLight !important;

      .info {
        .content {
          .top {
            .item {
              .label {
                color: $white72;
              }
              .desc {
                color: $nWhite;
              }
            }
          }
        }
      }
    }
  }
}
.cool-lightbox.cool-lightbox--can-zoom .cool-lightbox__slide img{
  width: auto!important;
}
.gamemodalsignin{
  .modalcontent{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    .photo{
      position: relative;
      max-width: 430px;
      min-width: 430px;
      margin: 0 30px 0 0;
      border-radius: 20px;
      background: rgba(39, 38, 45, 0.9);
      overflow: hidden;
      .img{
        width: 100%;
        border-radius: 20px;
        overflow: hidden;
        img{
          display: block;
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
      .bg{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 20px;
        overflow: hidden;
        img{
          display: block;
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
      .desc{
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        width: 100%;
        padding: 60px 40px;
        background: rgba(39, 38, 45, 0.9);
        backdrop-filter: blur(5px);
        font-size: 20px;
        line-height: 24px;
        letter-spacing: 0.0015em;
        color: $nWhite;
        text-align: center;
      }
    }
    form{
      flex: 1 1 auto;
      padding: 70px 30px 20px 0;
      fieldset{
        padding: 0 0 24px;
        input{
          display: block;
          height: 56px;
          padding: 0 16px;
        }
        button{
          position: absolute;
          top: 20px;
          right: 20px;
          width: 22px;
          height: 16px;
          svg{
            width: 100%;
            height: 100%;
            fill: $dGray;
          }
        }
        span.error{
          display: block;
          padding: 8px 10px 0;
          font-size: 12px;
          line-height: 12px;
          color: $dOrange;
        }
      }
      .btns{
        display: flex;
        align-items: center;
        padding: 0 0 24px;
        button{
          padding: 0 16px;
          margin: 0 24px 0 0;
          border-radius: 12px;
          &.link{
            width: auto;
            height: auto;
            margin: 0;
            padding: 0;
            border-radius: 0;
            background: transparent;
            color: $dViolet;
          }
        }
      }
      .signup{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 24px 0;
        border: 1px solid $grayMedium;
        border-width: 1px 0;
        .text{
          font-size: 16px;
          font-weight: 500;
          line-height: 24px;
          letter-spacing: 0.001em;
          color: $dGray;
        }
        button{
          display: block;
          font-size: 14px;
          font-weight: 800;
          line-height: 16px;
          letter-spacing: 0.06em;
          color: $dViolet;
          text-transform: uppercase;
        }
      }
      .social{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 24px 0 0;
        @media screen and (max-width: 576px) {
          display: block;
        }
        .text{
          font-size: 16px;
          font-weight: 500;
          line-height: 24px;
          letter-spacing: 0.001em;
          color: $dGray;
          @media screen and (max-width: 576px) {
            padding: 0 0 12px;
          }
        }
        ul{
          display: flex;
          align-items: center;
          li{
            padding: 0 12px 0 0;
            &:last-child{
              padding: 0;
            }
            a,
            button{
              display: flex;
              justify-content: center;
              align-items: center;
              width: 48px;
              height: 48px;
              border: 2px solid transparent;
              border-radius: 12px;
              svg{
                fill: $dWhite;
              }
              img{
                width: 20px;
              }
            }
            &:nth-child(1) a,
            &:nth-child(1) button{
              border-color: $dFacebook;
              background: $dFacebook;
              svg{
                width: 8px;
                height: 16px;
              }
            }
            &:nth-child(2) a{
              border-color: $dTwitter;
              background: $dTwitter;
              svg{
                width: 16px;
                height: 14px;
              }
            }
            &:nth-child(3) a{
              border-color: $grayLight;
              background: $dWhite;
              svg{
                width: 18px;
                height: 18px;
              }
            }
          }
        }
      }
    }
  }
}
