.newsmodal{
  padding: 40px 0 0;
  @media screen and (max-width: 920px) {
    padding: 24px 0 0;
  }
  @media screen and (max-width: 576px) {
    position: absolute!important;
    max-width: 100%!important;
    height: 100%!important;
    border-radius: 0 0 16px 16px!important;
    button.close{
      display: none!important;
    }
  }
  .modalcontent{
    .top{
      padding: 0 40px 40px;
      font-size: 40px;
      font-weight: 800;
      line-height: 48px;
      @media screen and (max-width: 920px) {
        padding: 0 24px 24px;
        font-size: 32px;
        line-height: 40px;
        letter-spacing: 0.0025em;
      }
      @media screen and (max-width: 576px) {
        display: none;
      }
    }
    .filters{
      margin: 0 40px!important;
      @media screen and (max-width: 920px) {
        margin: 0 24px!important;
        ul{
          li{
            button{
              height: 36px;
            }
          }
        }
      }
      @media screen and (max-width: 576px) {
        padding: 0;
        margin: 0!important;
      }
    }
    .ps{
      &.list{
        height: calc(100% - 170px);
        overflow: hidden;
        @media screen and (max-width: 920px) {
          height: calc(100% - 140px);
        }
        @media screen and (max-width: 576px) {
          height: calc(100% - 50px);
        }
      }
      ul.news{
        li{
          position: relative;
          display: flex;
          align-items: flex-start;
          padding: 16px 35px 16px 40px;
          @media screen and (max-width: 920px) {
            padding: 16px 40px 17px 24px;
          }
          @media screen and (max-width: 576px) {
            padding: 12px 15px 15px 0;
          }
          &.observer{
            padding: 0;
          }
          &:after{
            position: absolute;
            bottom: 0;
            left: 120px;
            right: 0;
            display: block;
            height: 1px;
            background: $grayMedium;
            content: "";
            @media screen and (max-width: 920px) {
              left: 104px;
            }
            @media screen and (max-width: 576px) {
              left: 58px;
            }
          }
          .img{
            max-width: 56px;
            min-width: 56px;
            height: 56px;
            margin: 0 24px 0 0;
            border-radius: 8px;
            overflow: hidden;
            @media screen and (max-width: 576px) {
              max-width: 40px;
              min-width: 40px;
              height: 40px;
              margin: 0 16px 0 0;
            }
            img{
              height: 100%;
            }
          }
          .info{
            flex: 1 1 auto;
            padding: 4px 10px 0 0;
            .name{
              display: flex;
              align-items: center;
              strong{
                display: block;
                padding: 0 8px 0 0;
                font-size: 16px;
                font-weight: 700;
                line-height: 20px;
                letter-spacing: 0.0015em;
              }
              span{
                display: block;
                font-size: 12px;
                line-height: 16px;
                color: $dGray;
                letter-spacing: 0.001em;
              }
            }
            .text{
              padding: 10px 0 0;
              @media screen and (max-width: 576px) {
                padding: 4px 0 0;
                font-size: 14px;
                line-height: 20px;
              }
            }
            .btns{
              display: flex;
              align-items: center;
              @media screen and (max-width: 576px) {
                display: block;
                padding: 10px 0 0;
              }
              a,
              button{
                height: 36px;
                margin: 16px 8px 0 0;
                border-radius: 8px;
                &:last-child{
                  margin: 16px 0 0;
                }
                @media screen and (max-width: 576px) {
                  margin: 0 0 8px;
                  &:last-child{
                    margin: 0;
                  }
                }
              }
            }
          }
          .extended{
            margin: 0 0 0 auto;
          }
          &.empty{
            display: block;
            padding: 0;
            &:after{
              display: none;
            }
            .img{
              position: relative;
              max-width: 300px;
              min-width: 300px;
              height: 186px;
              margin: 0 auto;
            }
            .text{
              padding: 80px 0 0;
              b{
                display: block;
                font-size: 20px;
                font-weight: 700;
                line-height: 24px;
                letter-spacing: 0.0015em;
                color: $dGray;
                text-align: center;
              }
              p{
                max-width: 400px;
                margin: 0 auto;
                padding: 4px 0 0;
                color: $dGray;
                text-align: center;
              }
            }
          }
        }
      }
      @media screen and (max-width: 920px) {
        .ps__rail-y{
          right: 20px;
        }
      }
      @media screen and (max-width: 576px) {
        .ps__rail-y{
          right: 0;
        }
      }
    }
  }
}

.night{
  .newsmodal{
    .modalcontent{
      .ps{
        ul.news{
          li{
            &:after{
              background: $white20;
            }
            .info{
              .name{
                span{
                  color: $white56;
                }
              }
            }
            &.empty{
              .text{
                b,
                p{
                  color: $white72;
                }
              }
            }
          }
        }
      }
    }
  }
}
