.personalmodal{
  position: relative;
  overflow: hidden;
  @media screen and (max-width: 768px) {
    max-width: 704px!important;
  }
  @media screen and (max-width: 576px) {
    height: 100Vh!important;
    max-height: none!important;
    border-radius: 0!important;
    padding: 0!important;
  }
  &:before{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: $dWhite!important;
    transition: background 0s ease!important;
    content: "";
  }
  button.close{
    @media screen and (max-width: 576px) {
      top: 20px!important;
      right: auto!important;
      left: 16px;
      width: 18px!important;
      height: 14px!important;
      border-radius: 0!important;
    }
    svg{
      @media screen and (max-width: 576px) {
        display: none;
      }
      &.mobile{
        display: none;
        width: 100%;
        height: 100%;
        fill: $dViolet!important;
        @media screen and (max-width: 576px) {
          display: block;
        }
      }
    }
  }
  .modalcontent{
    display: flex;
    height: 100%;
  }
  aside.info{
    position: relative;
    max-width: 324px;
    min-width: 324px;
    .profile{
      display: flex;
      align-items: center;
      padding: 40px 24px 0;
      color: $dBlack;
      transition: color 0s ease!important;
      @media screen and (max-width: 576px) {
        padding: 60px 24px 0;
      }
      .userphoto{
        position: relative;
        max-width: 64px;
        min-width: 64px;
        height: 64px!important;
      }
      .data{
        .name{
          font-size: 16px;
          font-weight: 700;
          line-height: 20px;
          letter-spacing: 0.0015em;
        }
        .text{
          font-size: 14px;
          line-height: 20px;
          letter-spacing: 0.0015em;
          color: $dGray;
        }
      }
      button.edit{
        position: absolute;
        top: 40px;
        left: 70px;
        width: 24px;
        height: 24px;
        border-radius: 50%;
        background: $dViolet;
        @media screen and (max-width: 576px) {
          top: 60px;
        }
        svg{
          width: 12px;
          height: 12px;
          fill: $dWhite;
        }
      }
    }
    .theme{
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 25px 24px 16px;
      border-bottom: 1px solid $grayMedium;
      .label{
        display: flex;
        align-items: center;
        svg{
          width: 19px;
          height: 19px;
          fill: $dGray;
        }
        span{
          display: block;
          padding: 0 0 0 20px;
          font-size: 16px;
          font-weight: 700;
          line-height: 17px;
          letter-spacing: 0.001em;
          color: $dGray;
        }
      }
      .switcher{
        input{
          display: none;
        }
        label{
          width: 40px;
          height: 24px;
          border-radius: 12px;
          background: $grayMedium;
          &:before{
            position: absolute;
            top: 2px;
            left: 2px;
            display: block;
            width: 20px;
            height: 20px;
            border-radius: 50%;
            background: $dWhite;
            transition: all .15s ease;
            content: "";
          }
        }
        input:checked + label:before{
          left: 18px;
        }
      }
    }
    ul.menu{
      position: relative;
      padding: 16px 0 45px;
      li{
        padding: 0 8px;
        margin: 0 0 8px;
        &:last-child{
          margin: 100px 0 0;
          @media screen and (max-width: 768px) {
            margin: 60px 0 0;
          }
          @media screen and (max-width: 576px) {
            position: absolute;
            top: -170px;
            right: 0;
            button{
              width: 24px;
              padding: 0;
              border-radius: 0;
              span{
                display: none;
              }
            }
          }
        }
        button{
          justify-content: flex-start;
          width: 100%;
          height: auto;
          padding: 10px 18px;
          border-radius: 12px;
          background: transparent;
          .ico{
            display: flex;
            justify-content: center;
            max-width: 20px;
            min-width: 20px;
            margin: 0 18px 0 0;
            svg{
              width: 20px;
              height: 20px;
              fill: $dGray;
            }
          }
          span{
            display: block;
            font-size: 16px;
            font-weight: 700;
            line-height: 20px;
            letter-spacing: 0.0015em;
            color: $dGray;
            text-transform: none!important;
            transition: color 0s ease!important;
          }
          &.active{
            background: $dWhite;
            svg{
              fill: $dViolet;
            }
            span{
              color: $dBlack;
            }
          }
        }
      }
    }
  }
  .tabs{
    position: relative;
    flex: 1 1 100%;
    max-width: calc(100% - 324px);
    background: $dWhite;
    border-radius: 24px;
    color: $dBlack;
    transition: color 0s ease!important;
    overflow: hidden;
    .tab{
      height: 100%;
      padding: 40px 20px 40px 40px;
      @media screen and (max-width: 768px) {
        padding: 40px 50px 40px 72px;
      }
      @media screen and (max-width: 576px) {
        padding: 60px 18px 20px;
      }
      .title{
        padding: 0 0 28px;
        font-weight: 800;
        font-size: 40px;
        line-height: 48px;
        @media screen and (max-width: 768px) {
          display: flex;
          align-items: center;
          font-size: 24px;
          line-height: 28px;
          letter-spacing: 0.0015em;
        }
        @media screen and (max-width: 576px) {
          position: relative;
          display: block;
          padding: 0 0 24px;
          font-size: 32px;
          line-height: 40px;
        }
        button{
          display: none;
          max-width: 18px;
          min-width: 18px;
          height: 14px;
          margin: 0 24px 0 -42px;
          @media screen and (max-width: 768px) {
            display: block;
          }
          @media screen and (max-width: 576px) {
            position: absolute;
            top: -35px;
            left: 0;
            margin: 0;
          }
          svg{
            display: block;
            width: 100%;
            height: 100%;
            fill: $dViolet;
          }
        }
      }
      &.personal{
        .ps{
          height: calc(100% - 50px);
          overflow: hidden;
          form{
            position: relative;
            padding: 0 20px 0 0;
            .label{
              padding: 0 0 10px;
              font-size: 16px;
              font-weight: 700;
              line-height: 20px;
              letter-spacing: 0.0015em;
            }
            fieldset{
              display: flex;
              align-items: center;
              padding: 0 0 40px;
              @media screen and (max-width: 576px) {
                padding: 0 0 32px;
              }
              input{
                height: 56px;
                padding: 20px 16px 0;
                font-size: 16px;
                line-height: 24px;
                letter-spacing: 0.001em;
                color: $dBlack;
              }
              &.text{
                justify-content: space-between;
                @media screen and (max-width: 768px) {
                  display: block;
                }
                .item{
                  position: relative;
                  width: calc(50% - 16px);
                  @media screen and (max-width: 768px) {
                    width: 100%;
                    padding: 0 0 24px;
                    &:last-child{
                      padding: 0;
                    }
                  }
                  label{
                    position: absolute;
                    top: 10px;
                    left: 18px;
                    font-size: 10px;
                    line-height: 12px;
                    letter-spacing: 0.01em;
                    color: $dGray;
                  }
                }
              }
              &.date{
                @media screen and (max-width: 576px) {
                  flex-flow: row wrap;
                  justify-content: space-between;
                }
                .selectbox{
                  position: relative;
                  margin: 0 16px 0 0;
                  @media screen and (max-width: 576px) {
                    margin: 0 8px 0 0;
                  }
                  &:nth-child(1){
                    width: 108px;
                    @media screen and (max-width: 576px) {
                      width: calc(32% - 8px);
                    }
                  }
                  &:nth-child(2){
                    width: 204px;
                    @media screen and (max-width: 576px) {
                      width: 68%;
                      margin: 0;
                    }
                  }
                  &:nth-child(3){
                    width: 164px;
                    margin: 0;
                    @media screen and (max-width: 576px) {
                      width: 100%;
                      margin: 8px 0 0;
                    }
                  }
                  button{
                    position: relative;
                    display: block;
                    max-width: 100%;
                    min-width: 100%;
                    height: 56px;
                    padding: 20px 16px 0;
                    border-radius: 12px;
                    background: $grayLight;
                    font-size: 16px;
                    line-height: 24px;
                    letter-spacing: 0.001em;
                    color: $dBlack;
                    text-transform: none;
                    &:before,
                    &:after{
                      position: absolute;
                      display: block;
                      content: "";
                    }
                    &:before{
                      top: 10px;
                      left: 16px;
                      font-size: 10px;
                      line-height: 12px;
                      letter-spacing: 0.01em;
                      color: $dGray;
                      content: attr(data-before)
                    }
                    &:after{
                      top: 50%;
                      right: 20px;
                      width: 0;
                      height: 0;
                      margin: -2px 0 0;
                      border-left: 5px solid transparent;
                      border-right: 5px solid transparent;
                      border-top: 5px solid $dGray;
                    }
                  }
                  .ps{
                    position: absolute;
                    top: 100%;
                    left: 0;
                    height: auto;
                    max-height: 200px;
                    margin: 5px 0 0;
                    background: $dWhite;
                    box-shadow: 0px 10px 10px rgb(0 0 0 / 20%);
                    visibility: hidden;
                    opacity: 0;
                    transition: all .15s ease;
                    z-index: 100;
                    &.open{
                      visibility: visible;
                      opacity: 1;
                    }
                    ul{
                      li{
                        button{
                          height: auto;
                          padding: 5px 10px;
                          border-bottom: 1px solid $grayLight;
                          border-radius: 0;
                          background: transparent;
                          &:before,
                          &:after{
                            display: none;
                          }
                        }
                      }
                    }
                    .ps__rail-y{
                      right: 0!important;
                      width: 4px;
                      border-radius: 0;
                    }
                  }
                }
              }
              &.radio{
                @media screen and (max-width: 576px) {
                  display: block;
                  padding: 16px 0 40px;
                }
                .item{
                  padding: 0 100px 0 0;
                  @media screen and (max-width: 576px) {
                    padding: 0 0 26px;
                  }
                  &:last-child{
                    padding: 0;
                  }
                  input{
                    display: none;
                  }
                  label{
                    display: flex;
                    align-items: center;
                    &:before,
                    &:after{
                      display: block;
                      content: "";
                    }
                    &:before{
                      width: 16px;
                      height: 16px;
                      margin: 0 18px 0 0;
                      border: 2px solid $dGray;
                      border-radius: 50%;
                      transition: border-color .15s ease;
                    }
                    &:after{
                      position: absolute;
                      top: 8px;
                      left: 4px;
                      width: 12px;
                      height: 12px;
                      border-radius: 50%;
                      background: transparent;
                      transition: background .15s ease;
                    }
                  }
                  input:checked + label:before{
                    border-color: $dViolet;
                  }
                  input:checked + label:after{
                    background: $dViolet;
                  }
                }
              }
              &.location{
                justify-content: space-between;
                @media screen and (max-width: 576px) {
                  display: block;
                  padding: 0 0 24px;
                }
                .selectbox{
                  position: relative;
                  width: calc(50% - 16px);
                  @media screen and (max-width: 576px) {
                    width: 100%;
                    &:last-child{
                      margin: 24px 0 0;
                    }
                  }
                  button{
                    position: relative;
                    display: block;
                    max-width: 100%;
                    min-width: 100%;
                    height: 56px;
                    padding: 20px 16px 0;
                    border-radius: 12px;
                    background: $grayLight;
                    font-size: 16px;
                    line-height: 24px;
                    letter-spacing: 0.001em;
                    color: $dBlack;
                    text-transform: none;
                    &:before,
                    &:after{
                      position: absolute;
                      display: block;
                      content: "";
                    }
                    &:before{
                      top: 10px;
                      left: 16px;
                      font-size: 10px;
                      line-height: 12px;
                      letter-spacing: 0.01em;
                      color: $dGray;
                      content: attr(data-before)
                    }
                    &:after{
                      top: 50%;
                      right: 20px;
                      width: 0;
                      height: 0;
                      margin: -2px 0 0;
                      border-left: 5px solid transparent;
                      border-right: 5px solid transparent;
                      border-top: 5px solid $dGray;
                    }
                  }
                  .ps{
                    position: absolute;
                    top: 100%;
                    left: 0;
                    height: auto;
                    max-height: 110px;
                    margin: 5px 0 0;
                    background: $dWhite;
                    box-shadow: 0px 10px 10px rgb(0 0 0 / 20%);
                    visibility: hidden;
                    opacity: 0;
                    transition: all .15s ease;
                    z-index: 100;
                    &.open{
                      visibility: visible;
                      opacity: 1;
                    }
                    ul{
                      li{
                        button{
                          height: auto;
                          padding: 5px 10px;
                          border-bottom: 1px solid $grayLight;
                          border-radius: 0;
                          background: transparent;
                          &:before,
                          &:after{
                            display: none;
                          }
                        }
                      }
                    }
                    .ps__rail-y{
                      right: 0!important;
                      width: 4px;
                      border-radius: 0;
                    }
                  }
                }
              }
              span.error{
                position: absolute;
                top: 100%;
                left: 0;
                display: block;
                padding: 5px 0 0 10px;
                font-size: 10px;
                font-weight: 700;
                line-height: 10px;
                color: #e74c3c;
              }
            }
            button.btn{
              font-size: 14px;
              font-weight: 800;
              line-height: 16px;
              letter-spacing: 0.06em;
            }
          }
          .ps__rail-y{
            right: 0;
          }
        }
        .loader{
          background: transparent!important;
        }
      }
      &.access{
        .ps{
          height: calc(100% - 50px);
          overflow: hidden;
          form{
            display: flex;
            flex-flow: row wrap;
            justify-content: space-between;
            padding: 0 20px 0 0;
            @media screen and (max-width: 768px) {
              display: block;
            }
            @media screen and (max-width: 576px) {
              padding: 0 20px 24px 0;
            }
            .item{
              width: calc(50% - 16px);
              padding: 0 0 16px;
              @media screen and (max-width: 768px) {
                width: 100%;
              }
              @media screen and (max-width: 576px) {
                &:nth-child(2){
                  padding: 0;
                }
              }
              .desc{
                font-size: 16px;
                font-weight: 700;
                line-height: 20px;
                letter-spacing: 0.0015em;
              }
              .subdesc{
                padding: 10px 0 20px;
                font-size: 14px;
                line-height: 20px;
                letter-spacing: 0.0015em;
                color: $dGray;
              }
              fieldset{
                margin: 0 0 24px;
                input{
                  height: 56px;
                  padding: 0 16px;
                  font-size: 16px;
                  line-height: 24px;
                  letter-spacing: 0.001em;
                  color: $dBlack;
                  &#currentemail{
                    padding: 20px 16px 0;
                  }
                }
                label{
                  position: absolute;
                  top: 10px;
                  left: 16px;
                  font-size: 10px;
                  line-height: 12px;
                  letter-spacing: 0.01em;
                  color: $dGray;
                }
                button{
                  position: absolute;
                  top: 50%;
                  right: 20px;
                  width: 22px;
                  height: 16px;
                  margin: -8px 0 0;
                  svg{
                    width: 100%;
                    height: 100%;
                    fill: $dGray;
                  }
                }
              }
            }
            button.btn{
              font-size: 14px;
              font-weight: 800;
              line-height: 16px;
              letter-spacing: 0.06em;
              @media screen and (max-width: 576px) {
                width: 100%;
              }
            }
          }
          .ps__rail-y{
            right: 0;
          }
        }
      }
      &.notifications{
        .ps{
          height: calc(100% - 50px);
          form{
            padding: 0 20px 0 0;
            .label{
              padding: 0 0 18px;
              font-size: 16px;
              font-weight: 700;
              line-height: 20px;
              letter-spacing: 0.0015em;
            }
            ul{
              padding: 0 0 50px;
              li{
                padding: 0 0 12px;
                @media screen and (max-width: 576px) {
                  padding: 0 0 30px;
                }
                &:last-child{
                  padding: 0;
                }
                input{
                  display: none;
                }
                label{
                  position: relative;
                  display: flex;
                  &:before{
                    display: block;
                    max-width: 14px;
                    min-width: 14px;
                    height: 14px;
                    margin: 3px 20px 0 0;
                    border: 2px solid $dGray;
                    border-radius: 3px;
                    overflow: hidden;
                    content: "";
                  }
                  span {
                    display: block;
                    font-size: 16px;
                    line-height: 24px;
                    letter-spacing: 0.001em;
                  }
                  svg {
                    position: absolute;
                    top: 3px;
                    left: 0;
                    width: 18px;
                    height: 18px;
                    fill: $dViolet;
                    visibility: hidden;
                    opacity: 0;
                    transition: all 0.15s ease;
                  }
                }
                input:checked + label svg {
                  visibility: visible;
                  opacity: 1;
                }
              }
            }
            button.btn{
              font-size: 14px;
              font-weight: 800;
              line-height: 16px;
              letter-spacing: 0.06em;
              @media screen and (max-width: 576px) {
                width: 100%;
              }
            }
          }
          .ps__rail-y{
            right: 0;
          }
        }
      }
      &.blacklist{
        form{
          padding: 0 0 20px;
          fieldset{
            svg{
              position: absolute;
              top: 50%;
              left: 18px;
              width: 20px;
              height: 20px;
              margin: -10px 0 0;
              fill: $dGray;
            }
            input{
              padding: 0 16px 0 64px;
            }
          }
        }
        .ps{
          height: calc(100% - 116px);
          ul.list{
            li{
              position: relative;
              display: flex;
              align-items: center;
              padding: 16px 30px 16px 0;
              @media screen and (max-width: 576px) {
                flex-flow: row wrap;
              }
              &:after {
                position: absolute;
                bottom: 0;
                left: 80px;
                right: 0;
                display: block;
                height: 1px;
                background: $grayMedium;
                content: "";
                @media screen and (max-width: 576px) {
                  left: 58px;
                }
              }
              &.hidden{
                display: none;
              }
              .name{
                font-size: 16px;
                font-weight: 700;
                line-height: 20px;
                letter-spacing: 0.0015em;
                @media screen and (max-width: 576px) {
                  width: calc(100% - 56px);
                }
              }
              button{
                margin: 0 0 0 auto;
                font-size: 14px;
                font-weight: 800;
                line-height: 16px;
                letter-spacing: 0.06em;
                @media screen and (max-width: 576px) {
                  width: calc(100% - 56px);
                  height: 36px;
                  margin: 20px 0 0 auto;
                }
              }
            }
          }
          .ps__rail-y{
            right: 0!important;
          }
        }
      }
      &.balance{
        .ps{
          height: calc(100% - 50px);
          .inform{
            position: relative;
            padding: 32px;
            border-radius: 16px;
            background: radial-gradient(165.85% 2653.88% at 15.7% -4.07%, #755EC6 0%, #48ABE3 100%);
            box-shadow: 0px 12px 20px rgba(104, 118, 207, 0.48);
            @media screen and (max-width: 576px) {
              padding: 16px 16px 74px;
            }
            .top{
              display: flex;
              justify-content: space-between;
              align-items: center;
              @media screen and (max-width: 576px) {
                display: block;
              }
              .balance{
                font-size: 40px;
                font-weight: 800;
                line-height: 48px;
                color: $dWhite;
                @media screen and (max-width: 576px) {
                  font-size: 32px;
                  line-height: 40px;
                }
                &:before{
                  content: "$"
                }
              }
              button{
                height: 48px;
                background: rgba(255, 255, 255, 0.2);
                backdrop-filter: blur(36px);
                @media screen and (max-width: 576px) {
                  position: absolute;
                  bottom: 16px;
                  left: 16px;
                  height: 36px;
                  border-radius: 8px;
                }
                svg{
                  width: 16px;
                  height: 16px;
                  fill: $dWhite;
                }
                span{
                  display: block;
                  padding: 0 0 0 16px;
                  font-size: 14px;
                  font-weight: 800;
                  line-height: 16px;
                  letter-spacing: 0.06em;
                  color: $dWhite;
                }
              }
            }
            .desc{
              padding: 24px 0 0;
              font-size: 14px;
              line-height: 20px;
              letter-spacing: 0.0015em;
              color: $dWhite;
              @media screen and (max-width: 576px) {
                padding: 16px 0 0;
                font-size: 12px;
                line-height: 16px;
                br{
                  display: none;
                }
              }
            }
          }
          .label{
            padding: 40px 0 20px;
            font-size: 24px;
            font-weight: 800;
            line-height: 28px;
            letter-spacing: 0.0015em;
            @media screen and (max-width: 576px) {
              padding: 32px 0 12px;
              font-size: 20px;
              font-weight: 700;
              line-height: 24px;
            }
          }
          ul.list{
            li{
              display: flex;
              align-items: center;
              padding: 10px 30px 10px 0;
              border-bottom: 1px solid $grayMedium;
              @media screen and (max-width: 576px) {
                position: relative;
                justify-content: space-between;
                padding: 10px 30px 34px 0;
              }
              .date{
                width: 270px;
                font-size: 14px;
                line-height: 20px;
                letter-spacing: 0.0015em;
                color: $dGray;
                @media screen and (max-width: 1024px) {
                  width: 160px;
                }
                @media screen and (max-width: 576px) {
                  position: absolute;
                  top: 36px;
                  left: 0;
                }
              }
              .desc{
                font-size: 14px;
                line-height: 20px;
                letter-spacing: 0.0015em;
              }
              .balance{
                margin: 0 0 0 auto;
                font-size: 16px;
                font-weight: 700;
                line-height: 24px;
                letter-spacing: 0.007em;
                &.plus{
                  color: $dGreen;
                }
                &.minus{
                  color: $dGray;
                }
              }
            }
          }
          .ps__rail-y{
            right: 0;
          }
          &.ps--active-y{
            .inform{
              margin: 0 20px 0 0;
            }
          }
        }
      }
      &.addfunds{
        @media screen and (max-width: 576px) {
          padding: 18px 18px 20px;
        }
        .title{
          display: flex;
          align-items: center;
          @media screen and (max-width: 576px) {
            margin: 0 0 22px;
            padding: 0 0 18px;
            border-bottom: 1px solid rgba(255, 255, 255, 0.2);
          }
          button{
            width: 20px;
            height: 16px;
            @media screen and (max-width: 576px) {
              position: relative;
              top: 0;
              margin: 0 18px 0 0;
            }
            svg{
              width: 100%;
              height: 100%;
              fill: $dViolet;
            }
          }
          span{
            display: block;
            padding: 0 0 0 28px;
            font-size: 32px;
            font-weight: 800;
            line-height: 40px;
            letter-spacing: 0.0025em;
            @media screen and (max-width: 768px) {
              padding: 0;
              font-size: 24px;
              line-height: 28px;
              letter-spacing: 0.0015em;
            }
            @media screen and (max-width: 576px) {
              padding: 0;
              font-size: 16px;
              font-weight: 700;
              line-height: 20px;
            }
          }
        }
        .ps{
          height: calc(100% - 50px);
          ul.select{
            display: flex;
            align-items: center;
            padding: 0 20px 0 0;
            li{
              padding: 0 8px 0 0;
              &:last-child{
                padding: 0;
              }
              button{
                height: 36px;
                padding: 0 16px;
                border-radius: 10px;
                background: $grayLight;
                font-size: 16px;
                font-weight: 700;
                line-height: 24px;
                letter-spacing: 0.007em;
                color: $dGray;
                transition: background .15s ease, color .15s ease;
                @media screen and (max-width: 576px) {
                  font-size: 14px;
                  line-height: 20px;
                }
                &.active{
                  background: $dOrange;
                  color: $dWhite;
                }
              }
            }
          }
          form{
            padding: 0 20px 0 0;
            .label{
              padding: 28px 0 20px;
              font-size: 16px;
              font-weight: 700;
              line-height: 20px;
              letter-spacing: 0.0015em;
              @media screen and (max-width: 576px) {
                padding: 24px 0 26px;
              }
            }
            ul.radio{
              li{
                padding: 0 0 10px;
                @media screen and (max-width: 576px) {
                  padding: 0 0 28px;
                }
                &:last-child{
                  padding: 0;
                }
                input{
                  display: none;
                }
                label{
                  display: flex;
                  align-items: center;
                  font-size: 16px;
                  line-height: 24px;
                  letter-spacing: 0.001em;
                  &:before,
                  &:after {
                    display: block;
                    content: "";
                  }
                  &:before {
                    width: 16px;
                    height: 16px;
                    margin: 0 18px 0 0;
                    border: 2px solid $dGray;
                    border-radius: 50%;
                    transition: border-color 0.15s ease;
                  }
                  &:after {
                    position: absolute;
                    top: 6px;
                    left: 4px;
                    width: 12px;
                    height: 12px;
                    border-radius: 50%;
                    background: transparent;
                    transition: background 0.15s ease;
                  }
                }
                input:checked + label:before {
                  border-color: $dViolet;
                }
                input:checked + label:after {
                  background: $dViolet;
                }
              }
            }
            fieldset{
              width: 228px;
              padding: 30px 0 24px;
              @media screen and (max-width: 576px) {
                width: 100%;
                padding: 30px 0 24px;
              }
              input{
                padding: 0 16px;
                font-size: 16px;
                line-height: 24px;
                letter-spacing: 0.001em;
                @media screen and (max-width: 576px) {
                  height: 56px;
                }
              }
            }
            button.btn{
              font-size: 14px;
              font-weight: 800;
              line-height: 16px;
              letter-spacing: 0.06em;
              @media screen and (max-width: 576px) {
                width: 100%;
              }
            }
          }
        }
      }
    }
  }

  &.mobile_tab{
    max-width: 576px!important;
    &:before{
      background: $whiteLight;
    }
    .modalcontent{
      display: block;
      aside.info{
        max-width: 100%;
        min-width: 100%;
        .theme{
          .label{
            svg{
              fill: $dGray;
            }
            span{
              color: $dGray;
            }
          }
        }
        ul.menu{
          li{
            button{
              .ico{
                svg{
                  fill: $dGray;
                }
              }
              span{
                color: $dGray;
              }
              &.active{
                background: transparent;
                svg{
                  fill: $nWhite;
                }
                span{
                  color: $nWhite;
                }
              }
            }
          }
        }
      }
      .tabs{
        display: none;
      }
    }
  }

  &.personal_tab,
  &.access_tab,
  &.notifications_tab,
  &.blacklist_tab,
  &.wallet_tab,
  &.addfunds_tab{
    @media screen and (max-width: 768px) {
      .modalcontent{
        display: block;
        aside.info{
          display: none;
        }
        .tabs{
          display: block;
          width: 100%;
          max-width: 100%;
          height: 100%;
        }
      }
    }
    @media screen and (max-width: 576px) {
      background: transparent!important;
      button.close{
        display: none;
      }
    }
  }
}

.night{
  .modalbox{
    .modalinfo.personalmodal{
      button.close{
        @media screen and (max-width: 576px) {
          background: transparent!important;
        }
        svg.mobile{
          fill: $nViolet!important;
        }
      }
    }
  }
  .personalmodal{
    &:before{
      background: $dBlack!important;
    }
    aside.info{
      .profile{
        color: $nWhite;
        .data{
          .text{
            color: $white56;
          }
        }
        button.edit{
          background: $nViolet;
        }
      }
      .theme{
        border-color: $white20;
        .label{
          svg{
            fill: $white56;
          }
          span{
            color: $white56;
          }
        }
        .switcher{
          label{
            background: $nViolet;
          }
        }
      }
      ul.menu{
        li{
          button{
            .ico{
              svg{
                fill: $white56;
              }
            }
            span{
              color: $white56;
            }
            &.active{
              background: $violet15;
              svg{
                fill: $nViolet;
              }
              span{
                color: $nWhite;
              }
            }
          }
        }
      }
    }
    .tabs{
      background: $whiteLight;
      color: $nWhite;
      @media screen and (max-width: 576px) {
        background: #27262D;
      }
      .tab{
        .title{
          button{
            svg{
              fill: $nViolet;
            }
          }
        }
        &.personal{
          form{
            fieldset{
              input{
                border-color: $blackMedium;
                color: $nWhite;
              }
              &.text{
                .item{
                  label{
                    color: $white56;
                  }
                }
              }
              &.date{
                .selectbox{
                  button{
                    background: $white10;
                    color: $nWhite;
                    &:before{
                      color: $white56;
                    }
                    &:after{
                      border-top-color: $white56;
                    }
                  }
                  .ps{
                    background: #484555;
                    ul{
                      li{
                        button{
                          border-color: $white20;
                        }
                      }
                    }
                  }
                }
              }
              &.radio{
                .item{
                  label{
                    &:before{
                      border-color: $white56;
                    }
                  }
                  input:checked + label:before{
                    border-color: $nViolet;
                  }
                  input:checked + label:after{
                    background: $nViolet;
                  }
                }
              }
              &.location{
                .selectbox{
                  button{
                    background: $white10;
                    color: $nWhite;
                    &:before{
                      color: $white56;
                    }
                    &:after{
                      border-top-color: $white56;
                    }
                  }
                  .ps{
                    background: #484555;
                    ul{
                      li{
                        button{
                          border-color: $white20;
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
        &.access{
          form{
            .item{
              .subdesc{
                color: $white56;
              }
              fieldset{
                input{
                  border-color: $blackMedium;
                  color: $nWhite;
                }
                label{
                  color: $white56;
                }
                button{
                  svg{
                    fill: $white56;
                  }
                }
              }
            }
          }
        }
        &.notifications{
          form{
            ul{
              li{
                label{
                  &:before{
                    border-color: $white56;
                  }
                  svg {
                    fill: $nViolet;
                  }
                }
              }
            }
          }
        }
        &.blacklist{
          form{
            fieldset{
              svg{
                fill: $white56;
              }
              input{
                border-color: $blackLight;
                background: $blackLight;
              }
            }
          }
          .ps{
            ul.list{
              li{
                &:after {
                  background: $white20;
                }
              }
            }
          }
        }
        &.balance{
          .inform{
            box-shadow: 0px 64px 67px rgba(0, 0, 0, 0.17), 0px 14.2952px 14.9653px rgba(0, 0, 0, 0.0949616), 0px 4.25607px 4.45557px rgba(0, 0, 0, 0.0648379);
          }
          .ps{
            ul.list{
              li{
                border-color: $white20;
                .date{
                  color: $white56;
                }
                .balance{
                  &.plus{
                    color: $nGreen;
                  }
                  &.minus{
                    color: $white72;
                  }
                }
              }
            }
          }
        }
        &.addfunds{
          .title{
            button{
              svg{
                fill: $nViolet;
              }
            }
          }
          ul.select{
            li{
              button{
                background: $white05;
                color: $white56;
                &.active{
                  background: $dOrange;
                  color: $dWhite;
                }
              }
            }
          }
          form{
            input{
              border-color: $blackMedium;
            }
            ul.radio{
              li{
                label{
                  &:before {
                    border-color: $white56;
                  }
                }
                input:checked + label:before {
                  border-color: $nViolet;
                }
                input:checked + label:after {
                  background: $nViolet;
                }
              }
            }
          }
        }
      }
    }
    &.mobile_tab{
      &:before{
        background: $whiteLight!important;
      }
      .modalcontent aside.info{
        ul.menu li button{
          span{
            color: $white72;
          }
          .ico svg{
            fill: $white72;
          }
        }
        .theme .label span{
          color: $white72;
        }
        .theme .label svg {
          fill: $white72;
        }
      }
    }
  }
}
